/* Add a scroll-margin-top to offset the sticky header */
#tools, #features, footer {
    scroll-margin-top: 70px; /* Adjust this value based on your header's height */
}

/* CSS for the mobile menu animation */
#mobile-menu {
    transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
}
#mobile-menu.menu-open {
    max-height: 500px; /* A value larger than the menu's content height */
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

/* Styles for modal transitions */
.modal {
    transition: opacity 0.3s ease;
}

/* Custom focus styles for form inputs */
.form-input:focus {
    outline: none;
    border-color: #3b82f6; /* Tailwind's blue-500 */
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.4);
}
